<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Volumes/NAS/megadock_data/nginx/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-01-24T13:49:51Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0dEBZ4KnOFkj
								bHswgXwe5A==
								</data>
								<key>Size</key>
								<integer>3479</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Volumes/NAS/megadock_data/nginx/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-01-24T13:49:51Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/fallback.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gybTKJXKDzTo
								mXsPXy5BRw==
								</data>
								<key>Size</key>
								<integer>213414</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								RrMV3UTRdNr1
								YX4is6yUyg==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								rSKiqdW0Gahz
								Ru8OWAXSFg==
								</data>
								<key>Size</key>
								<integer>204</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:resources - file:///Volumes/NAS/megadock_data/nginx/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-01-24T13:49:51Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>atlanta.mp4</key>
							<dict>
								<key>Digest</key>
								<data>
								eVcbJMintVHr
								3kHbai0vPg==
								</data>
								<key>Size</key>
								<integer>67831556</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:aspen - file:///Volumes/NAS/megadock_data/nginx/www/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-01-24T13:49:51Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>assets/fonts/ncdsi-201.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								5V5MtFKiaO+K
								qwg3Z5dxQw==
								</data>
								<key>Size</key>
								<integer>36716</integer>
							</dict>
							<key>assets/fonts/ncdsi-201.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								VT2xkP6sRavI
								OPQxjlCjsg==
								</data>
								<key>Size</key>
								<integer>156569</integer>
							</dict>
							<key>assets/fonts/ncdsi-201.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								LomEnHgQyPNE
								9kswexJvpg==
								</data>
								<key>Size</key>
								<integer>36544</integer>
							</dict>
							<key>assets/fonts/ncdsi-201.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								3Lp1ycj3QZEh
								4pnueCkM/A==
								</data>
								<key>Size</key>
								<integer>36620</integer>
							</dict>
							<key>assets/fonts/ncdsi-201.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								SZ2p3VJZYE4y
								j5wVN4nsRA==
								</data>
								<key>Size</key>
								<integer>19164</integer>
							</dict>
							<key>assets/images/fallback.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gybTKJXKDzTo
								mXsPXy5BRw==
								</data>
								<key>Size</key>
								<integer>213414</integer>
							</dict>
							<key>assets/js/function-min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								renNnjgjwMua
								RDPyUyLd4w==
								</data>
								<key>Size</key>
								<integer>24452</integer>
							</dict>
							<key>assets/js/jquery.js</key>
							<dict>
								<key>Digest</key>
								<data>
								KF1unQ5ZzlZ7
								fINGMOXINQ==
								</data>
								<key>Size</key>
								<integer>85587</integer>
							</dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								kpAhgfhuAWkX
								1OHlF8iCqw==
								</data>
								<key>Size</key>
								<integer>47065</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:aspen</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/aspen</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict>
					<key>6F5CDF8F-40B0-44DD-97F7-08D618A1E7D5</key>
					<dict>
						<key>fileName</key>
						<string>Pexels Videos 2818546.mp4</string>
						<key>identifier</key>
						<string>6F5CDF8F-40B0-44DD-97F7-08D618A1E7D5</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/2b/bz_w7bb15jg3hfmsmgkv_qhm0000gp/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-2262/ndgJBw/Pexels Videos 2818546.mp4</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGvEBgLDBUWICEiJSwwQ0RF
				RkpNUzlVWV1hZWlVJG51bGzTDQ4PEBIUV05TLmtleXNa
				TlMub2JqZWN0c1YkY2xhc3OhEYACoROAA4AXVG5vZGXV
				FxgZGg8bHB0eH1ROYW1lVWl0ZW1zWmlkZW50aWZpZXJY
				Y2hpbGRyZW6ABYAIgASABoAWXxAkQkQ2NjYxN0UtNTg5
				Ni00MTJCLUEzMkItMUZCRDU5NEY2REMyXxAPVW50aXRs
				ZWQgRm9sZGVy0g4PIySggAfSJicoKVokY2xhc3NuYW1l
				WCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5oygqK1dOU0Fy
				cmF5WE5TT2JqZWN00g4PLSShLoAJgAfaMTIPMzQ1FzY3
				ODk6Ozw8Pj9AQUJeUmVtb3RlUmVzb3VyY2VbT3JpZ2lu
				YWxVUkxcUHVibGlzaGVkVVJMXVB1Ymxpc2hlZERhdGVf
				EA9DaGFuZ2VkU3RhdHVzZXNaSWRlbnRpZmllcllUaW1l
				U3RhbXBZRmlsZVRva2VuCIATgBWAAIAAgA+AC4AKgA2A
				DF8QJEUzMUYwNjhBLTk4RjEtNEQzRC05MkI5LTFGRDYz
				MzM4MjBBRFthdGxhbnRhLm1wNF8QJDZGNUNERjhGLTQw
				QjAtNDRERC05N0Y3LTA4RDYxOEExRTdENdJHD0hJV05T
				LnRpbWUjQcTADMFM/fyADtImJ0tMVk5TRGF0ZaJLK9MN
				Dg9OUFKhT4AQoVGAEYASXxAsZmlsZTovLy9Wb2x1bWVz
				L05BUy9tZWdhZG9ja19kYXRhL25naW54L3d3dy8I0iYn
				VldfEBNOU011dGFibGVEaWN0aW9uYXJ5o1ZYK1xOU0Rp
				Y3Rpb25hcnnSD1pbXFlOUy5zdHJpbmeAFF8QMi9Vc2Vy
				cy9IMzcyNzgyL0Rvd25sb2Fkcy9QZXhlbHMgVmlkZW9z
				IDI4MTg1NDYubXA00iYnXl9fEA9OU011dGFibGVTdHJp
				bmejXmArWE5TU3RyaW5n0iYnYmNeUldTaXRlUmVzb3Vy
				Y2WiZCteUldTaXRlUmVzb3VyY2XSJidmZ1xSV1NpdGVG
				b2xkZXKiaCtcUldTaXRlRm9sZGVy0iYnWGqiWCsACAAR
				ABoAJAApADIANwBJAEwAUQBTAG4AdAB7AIMAjgCVAJcA
				mQCbAJ0AnwCkAK8AtAC6AMUAzgDQANIA1ADWANgA/wER
				ARYBFwEZAR4BKQEyAUEBRQFNAVYBWwFdAV8BYQF2AYUB
				kQGeAawBvgHJAdMB3QHeAeAB4gHkAeYB6AHqAewB7gHw
				AhcCIwJKAk8CVwJgAmICZwJuAnECeAJ6AnwCfgKAAoIC
				sQKyArcCzQLRAt4C4wLtAu8DJAMpAzsDPwNIA00DXANf
				A24DcwOAA4MDkAOVAAAAAAAAAgEAAAAAAAAAawAAAAAA
				AAAAAAAAAAAAA5g=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>http://www.neubaum.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2023</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>bob@neubaum.com</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va6QDAAAAAAQQMAAA
							AG8qQ6fBpNLrVAjZcC0T
							exwUzLmW9ckKPR91eaJ+
							W/VqxAIAAAQAAAADAwAA
							AAgAKAcAAAABAQAAVm9s
							dW1lcwADAAAAAQEAAE5B
							UwANAAAAAQEAAG1lZ2Fk
							b2NrX2RhdGEAAAAFAAAA
							AQEAAG5naW54AAAAAwAA
							AAEBAAB3d3cAFAAAAAEG
							AAAQAAAAIAAAACwAAABE
							AAAAVAAAAAgAAAAEAwAA
							G2YAAAAAAAAAAAAAAQoA
							ABQAAAABBgAAfAAAAIwA
							AACMAAAAjAAAAIwAAAAI
							AAAAAAQAAEHEv62lAAAA
							GAAAAAECAAACAAAAAAAA
							AA8AAAAAAAAAAAAAAAAA
							AAAUAAAAAQkAAGZpbGU6
							Ly8vVm9sdW1lcy9OQVMv
							CAAAAAQDAAAA8FEAsRYA
							AAgAAAAABAAAQcJEhCyA
							AAAYAAAAAQIAAAAAAAAA
							AAAA7xMAAAEAAAAAAAAA
							AAAAAAwAAAABAQAAL1Zv
							bHVtZXMvTkFTIgAAAAEJ
							AABzbWI6Ly9ib2JuZXVi
							YXVtQDE5Mi4xNjguODYu
							MTEvTkFTAAAIAAAAAQkA
							AGZpbGU6Ly8vDAAAAAEB
							AABNYWNpbnRvc2ggSEQI
							AAAABAMAAABQoRtzAAAA
							CAAAAAAEAABBxJ0NfAAA
							ACQAAAABAQAARDcxQTYy
							NEItNzE5Qi00MkFGLUJD
							RUQtN0FDOEJGRTEyOTY0
							GAAAAAECAACBAAAAAQAA
							AO8TAAABAAAAAAAAAAAA
							AAABAAAAAQEAAC8AAABg
							AAAA/v///wDwAAAAAAAA
							BwAAAAIgAAAMAgAAAAAA
							AAUgAAB8AQAAAAAAABAg
							AACMAQAAAAAAABEgAADA
							AQAAAAAAABIgAACgAQAA
							AAAAABMgAACwAQAAAAAA
							ACAgAADsAQAAAAAAAAQA
							AAADAwAAAPAAAAQAAAAD
							AwAAAAAAAAQAAAADAwAA
							AQAAABgAAAABBgAAgAIA
							AIwCAACYAgAAjAIAAIwC
							AACMAgAAqAAAAP7///8B
							AAAAGAIAAA0AAAAEEAAA
							YAAAAAAAAAAFEAAAlAAA
							AAAAAAAQEAAAwAAAAAAA
							AABAEAAAsAAAAAAAAAAA
							IAAApAIAAAAAAAACIAAA
							PAEAAAAAAAAFIAAA4AAA
							AAAAAAAQIAAAIAAAAAAA
							AAASIAAA/AAAAAAAAAAT
							IAAADAEAAAAAAAAgIAAA
							HAEAAAAAAABQIAAAUAEA
							AAAAAAAQ0AAABAAAAAAA
							AAA=
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Untitled Destination</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string>http://www.neubaum.com/</string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<true/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SloganText</key>
					<string>&lt;video autoplay playsinline muted loop="true" width="1280" height="720"&gt;&lt;source type="video/mp4" src="%resource(atlanta.mp4)%"&gt;&lt;/video&gt;</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Aspen</string>
					<key>TitleText</key>
					<string>Neubaum.com</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>F19E6182-CCB8-4E9B-9B1A-AE10509D4102_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAGlCwwRFx5VJG51bGzSDQ4PEFpkaWN0aW9u
					YXJ5ViRjbGFzc4ACgATTEhMOFBUWV05TLmtl
					eXNaTlMub2JqZWN0c6CggAPSGBkaG1okY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMaHB1cTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN00hgZHyBeV2ViSWNvblBhY2th
					Z2WiIR1eV2ViSWNvblBhY2thZ2UACAARABoA
					JAApADIANwBJAEwAUQBTAFkAXwBkAG8AdgB4
					AHoAgQCJAJQAlQCWAJgAnQCoALEAxwDLANgA
					4QDmAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
